%form.form-horizontal{:role => "form"}
  - if @post.errors.any?
    - @post.errors.full_messages.each do |msg|
      = js add_gritter(msg, title: "Overtime App Notification", sticky: false, time: 3000, image: :notice)

  .form-group
    = label :post, :date, 'Date', :class => 'col-sm-2 control-label'
    .col-sm-10
      = date_field :post, :date, :class => 'form-control'
  .form-group
    = label :post, :rationale, 'Rationale', :class => 'col-sm-2 control-label'
    .col-sm-10
      = text_area :post, :rationale, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag('Save', :class => 'btn btn-primary btn-block')